body {
    background-color: #23252C;
}

.componentsHolder {
    background-color: #1a1b21;
}

/* Header Component */
.profilePicHolder {
    width: 150px;
    height: 175px;

    background-image: url("../src/assets/profilePics/user1.jpg");
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
}